@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url('../fonts/OpenSans-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant-LightItalic';
  src: url('../fonts/Cormorant-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant-Regular';
  src: url('../fonts/Cormorant-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-indent {
  margin-bottom: 150px;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #151618;
  background-color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
  padding: 30px 0;
}

.header__logo {
  margin-right: 235px;
  margin-bottom: 35px;
}

.menu__btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 20px;
}

.menu__btn-line {
  width: 100%;
  height: 2px;
  background-color: #000;
}

.menu__list {
  display: flex;
  gap: 0 65px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.user-actions {
  display: flex;
  gap: 0 20px;
}

.user-actions--margin {
  margin-left: auto;
}

.user-actions__item--search {
  margin-left: 80px;
}

.top {
  background-image: url('../images/top-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
  font-family: 'Cormorant-Regular';
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.top__title {
  max-width: 790px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
}

.top__text {
  max-width: 560px;
  margin-bottom: 48px;
  line-height: normal;
}

.blockquote__text {
  max-width: 704px;
  margin: 0 auto;
  font-family: 'Cormorant-LightItalic', sans-seri;
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}

@media (max-width: 1000px) {
  .header__inner {
    min-height: auto;
  }

  .header__logo {
    margin-right: 60px;
    margin-bottom: 0;
  }
  .user-actions__item--search {
    margin-left: 30px;
  }

  .section-indent {
    margin-bottom: 120px;
  }

  .top {
    background-position: left center;
  }

  .blockquote__text {
    max-width: 744px;
  }
}

@media (max-width: 860px) {
  .menu__btn {
    display: flex;
  }

  .menu__list {
    display: none;
  }

  .menu {
    order: -1;
  }

  .header__inner {
    padding: 30px 44px;
  }

  .header__logo {
    margin-right: 0;
    margin-left: 100px;
  }

  .user-actions--margin {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .blockquote__text {
    max-width: 640px;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 360px) {
}
