@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url('../fonts/OpenSans-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant-LightItalic';
  src: url('../fonts/Cormorant-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant-Regular';
  src: url('../fonts/Cormorant-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #151618;
  background-color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
  padding: 30px 0;
}

.header__logo {
  margin-bottom: 35px;
}

.menu__list {
  display: flex;
  gap: 0 65px;
}

.user-actions {
  display: flex;
  gap: 0 20px;
}

.user-actions__item--search {
  margin-left: 80px;
}
